* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Variabeln */

:root {
    --blue: #1a2456;
    --indigo: #1a2456;
    --purple: #1a2456;
    --pink: #efc2b3;
    --red: #ff8d6b;
    --orange: #ff8d6b;
    --yellow: #f5b335;
    --green: #5a7f71;
    --teal: #5a7f71;
    --cyan: #5a7f71;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #1a2456;
    --secondary: #efc2b3;
    --success: #5a7f71;
    --info: #5a7f71;
    --warning: #f5b335;
    --danger: #ff8d6b;
    --light: #efc2b3;
    --dark: #1a2456;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body {
    background-color: #000;
    width: 100%;
    min-height: 100%;
    font-family: "Prompt", serif;
}

/* lists general */
.ul {
    display: flex;    
}

.ul__li {
    list-style-type: none;
}

/* links general */
.a {
    text-decoration: none;
}

/* grid */

.container {
    width: 100%;
    height: 100%;
    display: flex; 
    gap: 10px;
    flex-direction: column;   
}

/* menu, fixed */

menu {
    position: fixed;
    top: 1rem;
    left: 1%;
    right: 1%;
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--purple);
}

.svg--logo {
    color: var(--secondary);
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.menu__container-right {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em 0 0;
}

.ul--main-menu {
    margin-right: 1.5rem;
    gap: 1rem;
}

.ul--shop-menu {
    gap: 0.5rem;
    align-items: center;
}

.li--main-menu a,
.li--shop-menu a {
    color: var(--secondary);
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.li--one-level-list a:hover,
.li--one-level-list a:focus {
    color: var(--orange);
}

.li--two-level-list a {
    background-image: url(../images/arrow_drop_down_24dp_EFC2B3_FILL0_wght400_GRAD0_opsz24.png);
    background-size: 1.2rem auto;
    background-position:  right center;
    background-repeat: no-repeat;
    padding: 0 1.1rem 0 0;
}

.li--two-level-list a:hover,
.li--two-level-list a:focus {
    color: var(--white);
    background-image: url(../images/arrow_drop_down_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png);
}

.li--level-two a {
    background-image: none;
    padding: 0;
}

.ul__li__ul {
    position: fixed;
    top: 4rem;
    background-color: var(--white);
    padding: 0.5rem 0 0.5rem 0;
}

.ul__li__ul__li {
    width: calc(100% - 2rem);
    background-color: grey;
    padding: 0 1rem 0 1rem;
}

.ul__li__ul__li a {
    font-size: 1rem;
    color: var(--grey-dark);
}