/* 
    ___ >>> GENERAL STYLES, RESETS AND VARS 
*/

* {
    padding: 0;
    margin: 0;
    border: none;
}

/* Variabeln */

:root {
    --blue: #1a2456;
    --indigo: #1a2456;
    --purple: #1a2456;
    --pink: #efc2b3;
    --red: #ff8d6b;
    --orange: #ff8d6b;
    --yellow: #f5b335;
    --green: #5a7f71;
    --teal: #5a7f71;
    --cyan: #5a7f71;
    --white: #fff;
    --gray: #6c757d;
    --gray-light: #e7e8ea;    
    --gray-dark: #343a40;
    --primary: #1a2456;
    --secondary: #efc2b3;
    --success: #5a7f71;
    --info: #5a7f71;
    --warning: #f5b335;
    --danger: #ff8d6b;
    --light: #efc2b3;
    --dark: #1a2456;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

body {
    background-color: var(--white);
    width: 100%;
    min-height: 100%;
    font-family: "Prompt", serif;
    scroll-behavior: smooth;
}

/* lists general */

ul {
    display: flex;
}

ul li {
    list-style-type: none;
}

/* links general */
a {
    text-decoration: none;
}


/*  
     ___ >>> NAV, POSITION FIXED 
*/

nav {
    position: fixed;
    z-index: 100;
    top: 1rem;
    left: 1%;
    right: 1%;
    width: 98%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--purple);
}

.svg--brand {
    color: var(--secondary);
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.nav__ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav__li {
    margin: 0 0 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 300;
}

.nav__li,
.nav__li a {
    color: var(--secondary);
}

.nav__li a:hover,
.nav__li a:focus,
.nav__li:hover,
.nav__li:focus {
    color: var(--white);
}

.nav__li:first-child {
    margin: 0;
}

.nav__li:last-child {
    margin-left: 0.25rem;
    margin-right: 1rem;
}

.li--icon {
    margin:  0 0 0 1.5rem;
}

.li--dropdown-list {
    background-image: url(../images/arrow_drop_down_24dp_EFC2B3_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding: 0 1rem 0 0;
    background-size: 1rem auto;
}

.li--dropdown-list:hover,
.li--dropdown-list:focus {
    color: var(--white);
    background-image: url(../images/arrow_drop_down_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png);
}

/* stylings for dropdown menu */
.ul--dropdown-list {
    position: fixed;
    top: 4rem;
    display: flex;
    gap: 0;
    flex-direction: column;
    background-color: var(--white);
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 300;
} 

.li--dropdown-item {
    width: calc(100% - 2rem);
    padding: 0.3em 1rem;
}

.li--dropdown-item:hover,
.li--dropdown-item:focus {
    background-color: #e7e5e5;
}

.li--dropdown-item,
.li--dropdown-item a {
    color: var(--primary);
    text-align: left;
}

.li--dropdown-item a:hover,
.li--dropdown-item a:focus {
    color: var(--primary);
}

#btn--currencies,
#btn--workflows {
    cursor: pointer;
}

#btn--currencies .ul--dropdown-list {
    right: 1.5rem;
}

#btn--currencies .li--dropdown-item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.li--selected,
.li--selected:hover,
.li--selected:focus {
    background-color: var(--purple);
    color: var(--white);
}


/* nav class for java script */
.ul--hidden {
    display: none;
}


/* 
    ___ >>> page-header
*/


.container__page-header {
    width: 100%;
    min-height: 87vh;
    display: flex; 
    flex-direction: column; 
}


.page-header {
    width: 100%;
    height: 87vh;
}


.page-header__background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/shop_cta_xl_896f6b8270.webp);
    background-repeat: no-repeat;
    background-size: contain contain;
    background-position: center center;
}

.page-header__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -87vh;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.55);
}

.page-header__section h2,
.page-header__section h1 {
    color: var(--secondary);      
}

.page-header__section h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
}

.page-header__section h2 {
    margin: 0.9rem 0 0 0;
    font-size: 1.3rem;
    font-weight: 300;
}

.page-header__section a span {
    display: none;
}

.page-header__a {
    position: relative;
    display: flex;
    justify-content: center;
    top: -97vh;
    width: 100%;
    height: 65px;
    transition: background-size 0.5s linear;
}

.page-header__a a span {
    display: none;
}

.page-header__a a {
    background-image: url(../images/keyboard_arrow_down_60dp_FFFFFF_FILL0_wght200_GRAD0_opsz48.png);
    background-repeat: no-repeat;
    background-size: 45px auto;
    background-position:  center center;
    width: 65px;
    height: 65px;
    display: block;
}

.page-header__a a:hover,
.page-header__a a:focus {
    background-size: 65px auto;
}


/* 
    ___ >>> GRID 
*/

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.product-overview {
    display: flex;
    flex-wrap: wrap;    
    width: 83vw;
    height: 1500px;
    gap: 1rem;
    padding: 2.5rem 0 0 0;
}

.product {
    height: auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product--small {
    width: 39.5vw;;
}

.product--wide {
    width: 80vw;
}

/* product image */

.product__image  {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__image img {
    height: 100%;
    width: auto;;
}

.image--primary {
    display: block;
}

.image--secondary {
    display: none;
}

.product__image:hover .image--primary {
    display: none;
}

.product__image:hover .image--secondary {
    display: block;
}

/* product info */
.product__info {
    margin: 0.5rem 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--blue);
}

.product__title {
    text-transform: uppercase;
    font-weight: 500;;
    font-size: 1.2rem;;
}

.product__order-status {
    font-weight: 200;
}

.product__description  {
    font-size: 0.85rem;
    font-weight: 300;
    margin: 0.25rem 0 0 0;
}
