/* local colors */
/*
color palette
pink: #f9cdcd
dark blue: #252422
white: #f4f4f4
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

li,
dl {
  list-style-type: none;
}

.prompt-thin {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.prompt-extralight {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.prompt-light {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-extrabold {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.prompt-black {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.prompt-thin-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.prompt-extralight-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.prompt-light-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.prompt-regular-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.prompt-medium-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.prompt-semibold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.prompt-bold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.prompt-extrabold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.prompt-black-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: italic;
}

menu {
  width: 98%;
  position: fixed;
  top: 1.5%;
  left: 1%;
  min-height: 1rem;
  padding: 0.65rem;
  background-color: #1a2456;
  display: flex;
  justify-content: space-between;
}

menu svg {
  color: #efc2b3;
  height: 100%;
}

menu ul {
  display: flex;
  align-items: center;
}

menu ul li {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-style: normal;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-right: 2rem;
}

menu ul li,
menu ul li a,
menu ul li p {
  color: #efc2b3;
}

menu ul li a:hover p,
menu ul li a:focus p {
  color: #ff8d6b;
}

.menu-item-currency {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hide-currencies {
  display: none;
}

.show-currencies {
  display: flex;
  flex-direction: column;
}

.menu-item__all-curriencies {
  position: absolute;
  top: 3rem;
  padding: 0.3rem 0 0.3rem 0;
  margin: 0;
  background-color: #fff;
}

.menu-item__all-curriencies li {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.menu-item__all-curriencies li p {
  color: white;
  background-color: black;
}

body {
  background-color: #000;
}

/* stylings for mobile nav */
@media screen and (max-width: 992px) {
  menu .menu-item {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  menu .menu-item {
    display: none;
  }
}
