@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

menu {
    width: 98%;
    position: fixed;
    top: 1.5%;
    left: 1%;
    min-height: 1rem;
    padding: 0.65rem;
    background-color: var.$purple;
    display: flex;
    justify-content: space-between;
}

menu svg {
    color: var.$secondary;
}

menu ul {
    display: flex;
    align-items: center;
}

menu ul li {
   /* color: var.$secondary;*/
    background-color: skyblue;
    font-size: 1rem;
}