@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

menu {
    width: 98%;
    position: fixed;
    top: 1.5%;
    left: 1%;
    min-height: 1rem;
    padding: 0.65rem;
    background-color: var.$purple;
    display: flex;
    justify-content: space-between;
}

menu svg {
    color: var.$secondary;
    height: 100%;
}

menu ul {
    display: flex;
    align-items: center;
}

menu ul li {
    font-family: "Prompt", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-style: normal;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-right: 2rem;
}

menu ul li,
menu ul li a,
menu ul li p {
    color: var.$secondary;
}
menu ul li a:hover p,
menu ul li a:focus p {
    color: var.$orange;
}

.menu-item-currency {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hide-currencies {
    display: none;
}

.show-currencies {
    display: flex;
    flex-direction: column;
}

.menu-item__all-curriencies {
    height: auto;
    position: absolute;
    top: 2rem;
    background-color: black;
}

.menu-item__all-curriencies li {
    padding: 0.25rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.menu-item__all-curriencies li p {
    display: inline;
}

