@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mix;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

li,
dl {
    list-style-type: none;
}